.logo{
height: 40px;
width: 40px;
}

.ingForm {
  text-align: center;
}

 .ingForminput{
margin:10px;
padding: 5px;
width: 400px;
 }

 
.ingForm button {
margin: 10px;
width: 13%; 
border-radius: 15px; }

.button:hover{
    cursor: pointer;
    background-color: steelblue;
    color: aliceblue;
opacity: 1;
}

.repiceCss{
    text-align: center;
    padding: 10px;
    margin:10px;

}
.repiceCss img {
    height: 200px;
    width:18rem;
}
.widthcard{
    width: 35%;
    float:left;
    
    padding: 10px;
    margin:10px;
}
h1{text-align: center;}
.widthcarding{
    width: 20%;
    float: left;
    padding: 15px;
    margin: 10px;
}
.ingCss img{
    width: 100px;
    height: 100px;

}